@import "tailwindcss";

@theme {
  --color-primary: #FF8D41;

  --color-title: #616161;
  --color-heading: #424242;
  --color-text: #424242;
  --color-muted: #9E9E9E;

  --color-background: #F8F9FB;
  --color-price: #757575;

  --color-outline: #c9c9c9;
  --color-border: #EEEEEE;
}

html {
  scroll-behavior: smooth;
}
